<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buscaminas</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../statics/media/img/robot_uno.png">
    <link rel="stylesheet" href="../statics/css/buscaminas.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "> </script>
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="titulo">
      <div id="user"></div>
      <h1 id="nombre">BUSCAMINAS</h1>
    </div>
    <div id="buscaminas">

     </div>
    <script src="../dynamics/js/buscaminas.js"></script>
  </body>
</html>
