<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigDug</title>
    <link rel="stylesheet" href="../statics/css/digdug.css">
  </head>
  <body>
    <div id="titulo">
      <div id="user"></div>
      <h1 id="nombre"><span class="titKarel">KAREL</span>DUG</h1>
    </div>
    <div id="contenedor">
      <div class="botones">
        <button type="button" name="final" class="final">Finalizar Juego</button>
        <button type="button" name="menu" class="menu">Menú principal</button>
      </div>
      <div class="juego">
        <div class="borde">
          <div class="tierra"></div>
        </div>
        <div class="puntajes">
          <div class="hs"></div>
          <div class="puntaje">Puntaje:0</div>
          <div class="vidas"></div>
          <div class="ronda">LEVEL:1</div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="../dynamics/js/digdug.js" type="text/javascript"></script>
  </body>
</html>
