<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Arcade Maravilloso</title>
    <link rel="stylesheet" href="../statics/css/modal.css">
  </head>
  <body>
    <a href="#modal1">Créditos</a>
    <div id="modal1" class="modalCre">
        <div class="contenido deslizar">
            <a href="#tache" title="Close" class="tache">X</a>
            <h2>Equipo Maravilloso</h2>
            <ul>
              <li>Raúl Damián</li>
              <li>Astrid Vega</li>
              <li>Alexander Ramos</li>
              <li>Valeria Oviedo</li>
            </ul>
        </div>
    </div>
    <!--<div  class="modal">
      <div class="contenido">
        <div class="head">
          <h2>Créditos</h2>
          <span>X</span>
        </div>
        <div class="body">
          <h3>Equipo Maravilloso</h3>
          <h2>Arcade Maravilloso</h2>
          <ul>
            <li>Raúl Damián</li>
            <li>Astrid Vega</li>
            <li>Alexander Ramos</li>
            <li>Valeria Oviedo</li>
          </ul>
        </div>
      </div>
    </div>-->
  </body>
</html>
