<!DOCTYPE html>
<html lang="es" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>SPACE INVADERS</title>
		<link rel="icon" href="../statics/media/img/robot_uno.png">
		<link rel="stylesheet" type="text/css" href="../statics/css/invaders.css">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="titulo">
      <div id="user"></div>
      <h1>Space Invaders</h1>
    </div>
		<script type="text/javascript" src="../dynamics/js/funciones.js"></script>
		<canvas id="Tablero" width="660px" height="430px"></canvas>
	</body>
</html>
